<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/classes">Classes</a></li>
<!--<li><a href="/cv">CV</a></li>-->

</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:nourishnaturally2020@gmail.com">nourishnaturally2020@gmail.com</a></li>
   <li><a href="">&#169 abzadventure.com</a></li>
   </ul>
  </footer>
  </body>

</html>
